<!DOCTYPE html>
<html>
  <head>
    <meta name="google" value="notranslate" />
    <title><%= title %></title>
    <% for(var i = 0; i < config.styles.length; i++) { %>
      <link href='<%= config.styles[i] %>' rel='stylesheet' />
    <% } %>
    <script type = 'text/javascript'>
      SETTINGS = <%- JSON.stringify(settings) %>;
    </script>
    <% for(var i = 0; i < config.scripts.length; i++) { %>
      <script src='<%= config.scripts[i] %>' type='text/javascript'></script>
    <% } %>
    <base href="/">
  </head>
  <body>
    <span ui-view></span>
  </body>
 </html>